# Ignore environment file
.env

# Ignore Python cache and temporary files
__pycache__/
*.pyc

# Ignore local cache directory
.cache/

# Ignore specific files or directories
my-llm-work-sample/tokenized_data.json
